@using V308CMS.Admin.Helpers
@using V308CMS.Admin.Helpers.Url
@using V308CMS.Admin.Models.UI
@model List<V308CMS.Data.SiteConfig>
@{
    ViewBag.Title = "Danh sách Cấu hình hệ thống";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
@Html.Partial("UI/_AddNewButton", Url.SiteConfigCreateUrl())
@if (Model.Any())
{
    <div class="panel panel-default">     
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Giá trị</th>
                        <th style="text-align: center">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var config = Model[i];
                        <tr>
                            <td style="text-align: center">
                                @(i + 1)
                            </td>
                            <td>
                                <a title="Cập nhật thông tin cấu hình @config.name" class="btn btn-link" href="@Url.SiteConfigEditUrl(new {config.id})">
                                    @config.name
                                </a>
                            </td>
                            <td>
                                @config.content.ToTitle()
                            </td>
                            <td style="width: 200px; text-align: center">
                                @Html.Partial("UI/_EditButton", new ButtonModels
                               {
                                   Id = string.Format("config_{0}", config.id),
                                   Href = Url.SiteConfigEditUrl(new { config.id }),
                                   Title = "Cập nhật thông tin cấu hình " + config.name
                               })
                                @Html.Partial("UI/_DeleteForm", new DeleteFormModels
                               {
                                   NameOfId = "Id",
                                   ValueOfId = config.id,
                                   IsConfirm = true,
                                   Url = Url.SiteConfigDeleteUrl()
                               })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>

