@using V308CMS.Admin.Helpers.Url
@model V308CMS.Data.ProductPage
@{
    ViewBag.Title = "Loại";
    ViewBag.LinkBack = "<li><a href=" + Url.ProductTypeIndexUrl()+">Loại</a> </li>";
    ViewBag.MenuValue = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <div id="close" class="mheader">
            <a href="@Url.ProductTypeCreateUrl()" title="Thêm mới">
                <img src="@Url.CreateNewImageUrl()" alt="Thêm mới" />
            </a>
        </div>
        @*   <div style="margin-top: 16px;">
                @Html.Raw(@Model.HtmlNhom)
            </div>*@
        <div>
            <a href="@Url.ProductTypeIndexUrl(new {pPage =Model.BackPage,pType =Model.pProductType.Parent})" class="btcate0"><span class="fa fa-shopping-cart"></span>Tất cả</a>
            @foreach (V308CMS.Data.ProductType it in @Model.ProductTypeLt)
            {
                <a href="@Url.ProductTypeIndexUrl(new {pPage =1,pType=it.ID})" class="btcate"><span class="fa fa-shopping-cart"></span>@it.Name</a>
            }
        </div>
        <hr />
        <div style="width: 100%;">
            <div class="RadGrid RadGrid_MetroTouch table table-striped table-bordered table-hover dataTable" tabindex="0">
                @Html.Raw(@Model.Html)
            </div>
        </div>
        <div class="wpmn_page_navi">
            <a href="@Url.ProductTypeIndexUrl(new {pPage =Model.BackPage,pType=Model.TypeId})">Back</a>
                <span class="current">@Model.Page</span>
            <a href="@Url.ProductTypeIndexUrl(new {pPage =Model.NextPage,pType =Model.TypeId})">Next</a>
        </div>
        <hr />
    </div>
    <div style="display: none;" role="status" aria-hidden="true">
        <div class="area"></div>
        <div class="form-loading"></div>
    </div>
</div>
