@model V308CMS.Admin.Models.ProfileViewModels
@using V308CMS.Admin.Helpers.Url
@using V308CMS.Admin.Models.UI
@{
    ViewBag.Title = "Cập nhật thông tin cá nhân";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="row">
    <div class="col-lg-6">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Thông tin</a></li>
            <li><a href="#profile" data-toggle="tab">Đổi Mật khẩu</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="home">
                <div class="form-group">
                    @Html.LabelFor(admin => Model.AdminProfileModels.FullName)
                    @Html.TextBoxFor(admin => Model.AdminProfileModels.FullName, new { @class = "form-control", placeholder = "Nhập họ và tên" })
                    @Html.ValidationMessageFor(admin => Model.AdminProfileModels.FullName)
                </div>
                <div class="form-group">
                    <label for="@Model.AdminProfileModels.AvatarUrl">@(Model.AdminProfileModels.Id > 0 ? "Ảnh đại diện hiện tại" : "Ảnh đại diện")</label>
                </div>
                @Html.Partial("UI/_ImageSelectPreview", new ImageSelectPreviewModels
                {
                    Id = Model.AdminProfileModels.Id,
                    Name = "AvatarFile",
                    ImageUrl = Model.AdminProfileModels.AvatarUrl,
                    ImageUrlHiddenName = "AvatarUrl",
                    AutoGenerateLabel = false
                })
                <div class="form-group">
                    @Html.LabelFor(admin => Model.AdminProfileModels.Email)
                    @Html.TextBoxFor(admin => Model.AdminProfileModels.Email, new {@class = "form-control", placeholder = "Nhập địa chỉ Email"})
                    @Html.ValidationMessageFor(admin => Model.AdminProfileModels.Email)
                </div>
                <button type="submit" class="btn btn-success" name="Save" value="true">Lưu lại</button>
            </div>
            <div class="tab-pane fade" id="profile">
                <div class="panel-body">
                    <form method="post" role="form" action="@Url.AdminAccountChangePasswordUrl()">
                        <div class="row">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(admin => Model.AdminChangePasswordeModels.Id)
                            @Html.AntiForgeryToken()
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(admin => Model.AdminChangePasswordeModels.OldPassword)
                                    @Html.PasswordFor(admin => admin.AdminChangePasswordeModels.OldPassword, new { @class = "form-control", placeholder = "Nhập mật khẩu hiện tại" })
                                    @Html.ValidationMessageFor(admin => admin.AdminChangePasswordeModels.OldPassword)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(admin => Model.AdminChangePasswordeModels.NewPassword)
                                    @Html.PasswordFor(admin => admin.AdminChangePasswordeModels.NewPassword, new { @class = "form-control", placeholder = "Nhập mật khẩu mới" })
                                    @Html.ValidationMessageFor(admin => admin.AdminChangePasswordeModels.NewPassword)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(admin => admin.AdminChangePasswordeModels.ConfirmPassword)
                                    @Html.PasswordFor(admin => admin.AdminChangePasswordeModels.ConfirmPassword, new { @class = "form-control", placeholder = "Nhập mật khẩu xác nhận" })
                                    @Html.ValidationMessageFor(admin => admin.AdminChangePasswordeModels.ConfirmPassword)
                                </div>
                               <button type="submit" class="btn btn-success" name="Save" value="true">Lưu lại</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
