@using StackExchange.Profiling
@using V308CMS.Common
@using V308CMS.Data
@using V308CMS.Helpers
@model V308CMS.Data.IndexPageContainer
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
    var profiler = MiniProfiler.Current;
    var listBoxContent = (List<BoxContent>)ViewBag.BoxContent;
}
@section header {
    <title>@ViewBag.SiteName</title>
}
<div class="shopify-section index-section index-section--flush">
    <div class="container-block m-0" data-section-id="1475814045391" data-section-type="slideshow-section" style="background-color: #daedfc">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-3 banner-slide">
                    @using (profiler.Step("Load Slides"))
                    {
                        @Html.Action("HomeSlides", "Block")
                    }


                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function() {
            jQuery('.tp-caption').hide();
            jQuery(window).load(function() {
                setTimeout(function() { jQuery('.tp-caption').show(); }, 1000);
            });
        });
    </script>
</div>
@using (profiler.Step("Load ProductMost"))
{
    @Html.Action("ProductMost", "MyShopify")
}
@using (profiler.Step("Load ProductHot"))
{
    @Html.Action("ProductHot", "MyShopify")
}

@using (profiler.Step("Load ProductTypeList"))
{
    if (listBoxContent != null)
    {
        foreach (var boxItem in listBoxContent)
        {
            @Html.Partial("_BoxItem", boxItem)
        }
    }

}

@Html.Action("HomeYoutube", "MyShopify")
@Html.Action("HomeFooter", "MyShopify")
<script>
    jQuery('.item-poduct').addClass('product-loading');
    jQuery(window).load(function () {
        jQuery('.item-poduct').removeClass('product-loading');
    });
    jQuery('.main-content').removeClass('container');
</script>
