@using V308CMS.Common
@using V308CMS.Helpers
@using V308CMS.Helpers.Url
@model V308CMS.Data.NewsDetailPageContainer
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";

}
@section header {
    <title>@Model.NewsItem.Title</title>
    <meta name="description" content="@Model.NewsItem.Summary" />
    <meta name="keywords" content="@Model.NewsItem.Keyword"/>
    <meta content="@Model.NewsItem.Title - @ViewBag.SiteName" itemprop="headline" property="og:title"/>
    <meta content="@Request.Url" itemprop="url" property="og:url" />
    <meta content="@Model.NewsItem.Image.ToUrl()" itemprop="thumbnailUrl" property="og:image" />
    <meta content="@Model.NewsItem.Summary" itemprop="description" property="og:description" />
    <meta name="tt_site_id" content="1003834" />
    <meta name="tt_category_id" content="@Model.NewsItem." />
    <meta name="tt_article_id" content="@Model.NewsItem.ID" />
    <meta name="tt_page_type" content="article" />
}
@section Breadcrumb{
    <div class="clearfix breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <h2></h2>
                        <a href="/" title="Back to the frontpage">Trang chủ</a>
                        <span class="icon"><i class="fa fa-circle"></i></span>
                            <a href="@Url.NewsIndexUrl()" title="Tin tức">Tin tức</a>
                        <span class="icon"><i class="fa fa-circle"></i></span>
                        <strong>
                            @Model.NewsItem.Title 
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <!-- Begin sidebar -->
    <div class="col-xs-12 col-sm-5 col-md-3 sidebar">
        <div class="widget widget-recent-articles">
            <div class="widget-title">
                <h3><span>Bài viết đọc nhiều</span></h3>
            </div>
            <div class="widget-content">
                @if (Model.ListNewsMostView.IsHasData())
                {
                    <ul>
                        @foreach (var newsItem in Model.ListNewsMostView)
                        {
                            <li class="article">
                                <p>
                                    <a href="@Url.NewsDetailUrl(newsItem)" title="@newsItem.Title">
                                        @newsItem.Title
                                    </a>
                                    <em>@newsItem.Date.ToDdmmyyyyHhm()</em>
                                </p>
                            </li>
                        }

                    </ul>
                }

            </div>
        </div>
        <div class="widget widget-tags">
            <div class="widget-title">
                <h3><span>Tags</span></h3>
            </div>
            <div class="widget-content">
                <ul class="tags">
                    <li class="active">
                        <a href="@Url.NewsIndexUrl()" title="Danh sách tin">All</a>
                    </li>
                    @if (!string.IsNullOrWhiteSpace(Model.NewsItem.Keyword))
                    {
                        var listTag = Model.NewsItem.Keyword.Split(new[] { ';', ',' }, StringSplitOptions.RemoveEmptyEntries);
                        if (listTag.Any())
                        {
                            foreach (var tag in listTag)
                            {
                                <li>
                                    <a href="@Url.NewsTagUrl(tag)" title="@tag">@tag</a>

                                </li>
                            }

                        }
                    }
                </ul>
            </div>


        </div>
    </div>
    <!-- End sidebar -->
    @if (Model.NewsItem != null)
    {
        <div class="col-xs-12 col-md-9 col-sm-9 blog-detail col-main">
            <header class="page-header">
                <h1>
                    <a href="@Url.NewsDetailUrl(Model.NewsItem)" title="@Model.NewsItem.Title">
                        @Model.NewsItem.Title
                    </a>
                </h1>

                <div class="blog-time">
                    <span class="date-time">
                        <span class="date-sub">Ngày đăng : </span>@Model.NewsItem.Date.ToDdmmyyyyHhm()
                    </span>
                </div>
                
                <div class="block-images">
                    <img src="@Model.NewsItem.Image.ToUrl()" alt="@Model.NewsItem.Title"/>
                </div>
            </header>

            <div class="rte">
                @Html.Raw(Model.NewsItem.Detail)
            </div>
            @if (Model.NextNewsItem != null || Model.PreviousNewsItem != null)
            {
                <div class="action-btn">
                    @if (Model.PreviousNewsItem != null)
                    {

                        <span class="left"><a href="@Url.NewsDetailUrl(Model.PreviousNewsItem)" title="@Model.PreviousNewsItem.Title">Tin cũ</a></span>
                    }
                    @if (Model.NextNewsItem != null)
                    {
                        <span class="right"><a href="@Url.NewsDetailUrl(Model.NextNewsItem)" title="@Model.NextNewsItem.Title">Tin mới</a></span>

                    }
                </div>

            }
        </div>
    }

   
</div>
