@model V308CMS.Data.OrdersPage
@using V308CMS.Data
@using V308CMS.Sale.Helpers
@using V308CMS.Common.UI
@{
    Layout = "~/Views/Affiliate/Layout/Backend.cshtml";
    string PageTitle = "Quản lý đơn hàng";
}
@section header {
    <title>@PageTitle</title>

}
<h4>@PageTitle</h4>
<form action="" method="get" name="fillter-form">
    @Html.Hidden("no", Request.QueryString["no"])
    <div class="row">

        <div class="col-md-4">
            <div class="input-group border-radius-0">
                <input type="text" class="form-control" placeholder="Tìm kiếm" aria-describedby="tablesearch">
                <span class="input-group-addon btn-green"><i class="fa fa-search"></i></span>
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group border-radius-0 bg-secondary">
                @Html.Partial("UI/_MutilDropDownlist", new OptionsModel { Name = "plimit", Selected = Model.plimit.ToString() })
            </div>
        </div>

    </div>
    <hr />
    <div class="row">
        <div class="col-md-10 textright">
            @Html.Action("BlockPagination", "Theme", new { ProductTotal = Model.Total })
            

        </div>
        <div class="col-md-2 textright" style="margin-bottom: 15px;">
            <button type="button" class="btn btn-secondary border-radius-0">Xuất excel</button>
        </div>
    </div>
</form>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Thời gian</th>
                <th>Tên Khách Hàng</th>
                <th>Số hàng</th>
                <th>Số tiền</th>
                <th>Trạng Thái</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.Items != null && Model.Items.Count() > 0)
            {
                foreach (ProductOrder o in Model.Items)
                {

                    <tr>
                        <th scope="row">@o.ID</th>
                        <td>@String.Format("{0:d}", o.Date)</td>
                        <td>@o.FullName</td>
                        <td>@o.Count</td>
                        <td>@o.Price</td>
                        <td>@o.Status.ToOrderStateTextHtml()</td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">Không có đơn hàng nào</td>
                </tr>
            }

        </tbody>
    </table>
