@using V308CMS.Admin.Helpers.Url
@model V308CMS.Data.MarketPage
@{
    ViewBag.Title = "Danh sách cửa hàng";
    ViewBag.LinkBack = "<li><a href=" + Url.MarketIndexUrl() + ">Danh sách cửa hàng</a> </li>";
    ViewBag.MenuValue = 10;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <div id="close" class="mheader">
            <a href="@Url.MarketCreateUrl()" title="Thêm mới">
                <img src="@Url.CreateNewImageUrl()" title="Thêm mới" />
            </a>
        </div>
        <div style="margin-top:16px;">
        </div>
        <hr />
        <div style="width: 100%;">
            <div class="RadGrid RadGrid_MetroTouch table table-striped table-bordered table-hover dataTable" tabindex="0">
                @Html.Raw(Model.Html)
            </div>
        </div>
        <div class="wpmn_page_navi">
            <a href="@Url.MarketIndexUrl(new {pPage =Model.BackPage,pType =Model.TypeId })">Back</a>
                <span class="current">@Model.Page</span>
            <a href="@Url.MarketIndexUrl(new {pPage = Model.NextPage,pType =Model.TypeId})">Next</a>
        </div>
        <hr />
    </div>
    <div style="display: none;" role="status" aria-hidden="true">
        <div class="area"></div>
        <div class="form-loading"></div>
    </div>
</div>
