@*<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
    </li>
    @if (Model != null && Model.Count > 0)
    {
        foreach (V308CMS.Data.NewsGroups menu in Model)
        {
            if (!menu.Name.ToLower().Equals("footer"))
            {
                <li class="nav-item"><a class="nav-link" href="@menu.Link">@menu.Name</a></li>
            }

        }
    }
</ul>*@


<ul class="navbar-nav site-nav">
    @{
        var controller = Request.RequestContext.RouteData.Values["Controller"].ToString().ToLower();
        <li class="menu-dropdown level-top @(controller =="home"?"active" :"") ">
            <a class="dropdown-toggle" href="/" title="MP START">
                <span>Trang chủ</span>
            </a>
        </li>
        if (Model != null && Model.Count > 0)
        {
            foreach (V308CMS.Data.NewsGroups menu in Model)
            {

                var menuName = menu.Name;
                if (!menuName.ToLower().Equals("footer"))
                {
                    var activeCss = "";
                    if (menu.Link.Contains("/video") && controller=="video")
                    {
                        activeCss = "active";
                    }
                    if (menu.Link.Contains("/tin-tuc") && controller == "news")
                    {
                        activeCss = "active";
                    }
                    if (menu.Link.Contains("/lien-he") && controller == "contact")
                    {
                        activeCss = "active";
                    }
                    <li class="menu-dropdown level-top @activeCss">
                        <a class="dropdown-toggle" href="@menu.Link" title="@menuName">
                            <span class="">@menuName</span>
                        </a>
                    </li>

                }

            }
        }

    }
</ul>